# This local .npmrc file forces publishing to the Spectrum snapshot repo
# in artifactory. Your personal credintials for artifactory should
# be in ~/.npmrc for publishing to work. npm will overrided the
# registry value found in ~ with this value but will keep the authentication
#

@spectrum:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-spectrum-release/
//artifactory.corp.adobe.com/artifactory/api/npm/npm-spectrum-release/:always-auth=true