$spectrum-alias-border-corner-radius-large: 16px;
$spectrum-alias-border-corner-radius-regular: 4px;
$spectrum-alias-border-corner-radius-small: 2px;
$spectrum-alias-border-corner-radius-xsmall: 1px;
$spectrum-alias-border-size-thick: 2px;
$spectrum-alias-border-size-thickest: 8px;
$spectrum-alias-border-size-thin: 1px;
$spectrum-alias-grid-baseline: 8px;
$spectrum-alias-grid-gutter-large: 40px;
$spectrum-alias-grid-gutter-medium: 32px;
$spectrum-alias-grid-gutter-small: 24px;
$spectrum-alias-grid-gutter-xlarge: 48px;
$spectrum-alias-grid-gutter-xsmall: 16px;
$spectrum-alias-grid-layout-region-margin-bottom-large: 40px;
$spectrum-alias-grid-layout-region-margin-bottom-medium: 32px;
$spectrum-alias-grid-layout-region-margin-bottom-small: 24px;
$spectrum-alias-grid-layout-region-margin-bottom-xlarge: 48px;
$spectrum-alias-grid-layout-region-margin-bottom-xsmall: 16px;
$spectrum-alias-grid-margin-large: 40px;
$spectrum-alias-grid-margin-medium: 32px;
$spectrum-alias-grid-margin-small: 24px;
$spectrum-alias-grid-margin-xlarge: 48px;
$spectrum-alias-grid-margin-xsmall: 16px;
$spectrum-alias-layout-label-gap-size: 8px;
$spectrum-alias-single-line-height: 32px;
$spectrum-alias-single-line-width: 192px;
$spectrum-global-layout-breakpoint-large: 1768px;
$spectrum-global-layout-breakpoint-medium: 1280px;
$spectrum-global-layout-breakpoint-small: 768px;
$spectrum-global-layout-breakpoint-xlarge: 2160px;
$spectrum-global-layout-breakpoint-xsmall: 304px;
$spectrum-global-layout-grid-columns: 12;
$spectrum-global-layout-grid-fixed-max-width: 1280px;
$spectrum-global-layout-grid-fluid-width: 100%;
$spectrum-global-layout-size-10: 1px;
$spectrum-global-layout-size-100: 8px;
$spectrum-global-layout-size-150: 12px;
$spectrum-global-layout-size-1700: 136px;
$spectrum-global-layout-size-200: 16px;
$spectrum-global-layout-size-2400: 192px;
$spectrum-global-layout-size-25: 2px;
$spectrum-global-layout-size-300: 24px;
$spectrum-global-layout-size-400: 32px;
$spectrum-global-layout-size-50: 4px;
$spectrum-global-layout-size-500: 40px;
$spectrum-global-layout-size-600: 48px;
$spectrum-global-layout-size-700: 56px;
$spectrum-global-layout-size-800: 64px;
$spectrum-global-layout-size-900: 72px;
