* {
  box-sizing: border-box;
}

body {
  font-family: "Adobe Clean", Helvetica, Arial, sans-serif;
  color: #444;
  margin: 0;
  padding: 0;
}

// Vars

$huge-blue: #294b69;
$huge-magenta: rgb(20, 115, 230);
$huge-gray: #808080;

// Typography

p {
  margin: 8px 0;
  grid-column: 1/13;
  max-width: 65ch;
}

h1 {
  font-size: 40px;
}

h2,
.title {
  font-size: 31px;
  color: black;
  margin: 40px 0 20px;
}

h3 {
  font-size: 26px;
  color: black;
  margin: 40px 0 15px;
}

h4,
h5 {
  font-size: 22px;
  color: black;
  margin: 35px 0 15px
}

// Frame

.application-frame {
  padding: 16px;
}

@import "header.scss";

// Table of Contents

.toc {

}

.toc-item {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  padding: 8px;
  background: var(--spectrum-global-color-static-blue-400);
  color: #fff;
  border-radius: 4px;
  grid-column-end: span 12;
  margin-bottom: 8px;
}

@media screen and (min-width: 304px) {
  .toc-item {
    grid-column-end: span 6;
  }
}

@media screen and (min-width: 768px) {
  .toc-item {
    grid-column-end: span 2;
  }
}

// Example Boilerplate

.example {
  margin-top: 16px;
  margin-bottom: 16px;
}

.example-header {
  font-weight: 200;
  padding-top: 8px;
  border-top: 1px solid var(--spectrum-global-color-static-gray-900);
  grid-column: 1/13;
}

@import "boxes.scss";

.grid1 {
  --columns: 9; 
  grid-column-start: 1; 
}

.grid2 {
  --columns: 3;
  grid-column-start: 10;
}

// Code Blocks

@import "code.scss";

pre.prettyprint {
  overflow-x: auto;
  padding: 1.25em;
  border: 1px solid lighten($huge-gray, 32%);
  border-left-width: 5px;
  margin: 1.6em 0;
  font-size: 1em;
  background: #fcfcfc;
  white-space: pre;
  word-wrap: normal;
}




pre {
  grid-column: 1 / 13;
  margin: 30px 0 50px
}
