.box, .box2 {
  min-height: calc(var(--spectrum-grid-baseline) * 4);
  background: rgba(41, 75, 105, 0.1);
  text-align: center;
  border-radius: 2px;
  border: 1px solid #6f9dc7;
  margin-bottom: 8px; }

.box2 {
  border-color: var(--spectrum-global-color-static-orange-700); }
