* {
  box-sizing: border-box; }

html,body {
  font-family: "Adobe Clean", Helvetica, Arial, sans-serif;
  color: #444;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

p {
  margin: 8px 0;
  grid-column: 1/13;
  max-width: 65ch; }

h1 {
  font-size: 40px; }

h2,
.title {
  font-size: 31px;
  color: black;
  margin: 40px 0 20px; }

h3 {
  font-size: 26px;
  color: black;
  margin: 40px 0 15px; }

h4,
h5 {
  font-size: 22px;
  color: black;
  margin: 35px 0 15px; }

.application-frame {
  padding: 16px; }

.header-logo {
  display: flex;
  margin-right: 16px;
  width: auto; }

.header-logo svg {
  height: 32px;
  width: auto; }

.header-repoLink {
  display: inline-block;
  padding-left: 8px; }

.header-title {
  font-size: 55px;
  text-align: center;
  font-weight: 300; }

.toc-item {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  padding: 8px;
  background: var(--spectrum-global-color-static-blue-400);
  color: #fff;
  border-radius: 4px;
  grid-column-end: span 12;
  margin-bottom: 8px; }

@media screen and (min-width: 304px) {
  .toc-item {
    grid-column-end: span 6; } }

@media screen and (min-width: 768px) {
  .toc-item {
    grid-column-end: span 2; } }

.example {
  margin-top: 16px;
  margin-bottom: 16px; }

.example-header {
  font-weight: 200;
  padding-top: 8px;
  border-top: 1px solid var(--spectrum-global-color-static-gray-900);
  grid-column: 1/13; }

.box, .box2 {
  min-height: calc(var(--spectrum-grid-baseline) * 4);
  background: rgba(41, 75, 105, 0.1);
  text-align: center;
  border-radius: 2px;
  border: 1px solid #6f9dc7;
  margin-bottom: 8px; }

.box2 {
  border-color: var(--spectrum-global-color-static-orange-700); }

.grid1 {
  --columns: 9;
  grid-column-start: 1; }

.grid2 {
  --columns: 3;
  grid-column-start: 10; }

/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
.prettyprint {
  background: white;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px; }

.pln {
  color: #4d4d4c; }

@media screen {
  .str {
    color: #718c00; }
  .kwd {
    color: #8959a8; }
  .com {
    color: #8e908c; }
  .typ {
    color: #4271ae; }
  .lit {
    color: #f5871f; }
  .pun {
    color: #4d4d4c; }
  .opn {
    color: #4d4d4c; }
  .clo {
    color: #4d4d4c; }
  .tag {
    color: #c82829; }
  .atn {
    color: #f5871f; }
  .atv {
    color: #3e999f; }
  .dec {
    color: #f5871f; }
  .var {
    color: #c82829; }
  .fun {
    color: #4271ae; } }

@media print, projection {
  .str {
    color: #006600; }
  .kwd {
    color: #006;
    font-weight: bold; }
  .com {
    color: #600;
    font-style: italic; }
  .typ {
    color: #404;
    font-weight: bold; }
  .lit {
    color: #004444; }
  .pun, .opn, .clo {
    color: #444400; }
  .tag {
    color: #006;
    font-weight: bold; }
  .atn {
    color: #440044; }
  .atv {
    color: #006600; } }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0; }

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */ }

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */ }

pre.prettyprint {
  overflow-x: auto;
  padding: 1.25em;
  border: 1px solid #d2d2d2;
  border-left-width: 5px;
  margin: 1.6em 0;
  font-size: 1em;
  background: #fcfcfc;
  white-space: pre;
  word-wrap: normal; }

pre {
  grid-column: 1 / 13;
  margin: 30px 0 50px; }
