$spectrum-alias-layout-region-margin-bottom-large: 40px;
$spectrum-alias-layout-region-margin-bottom-medium: 32px;
$spectrum-alias-layout-region-margin-bottom-small: 24px;
$spectrum-alias-layout-region-margin-bottom-xlarge: 48px;
$spectrum-alias-layout-region-margin-bottom-xsmall: 16px;

$spectrum-global-layout-breakpoint-xsmall: 304px;
$spectrum-global-layout-breakpoint-small: 768px;
$spectrum-global-layout-breakpoint-medium: 1280px;
$spectrum-global-layout-breakpoint-large: 1768px;
$spectrum-global-layout-breakpoint-xlarge: 2160px;

$spectrum-global-layout-grid-fixed-max-width: 1280px;
$spectrum-global-layout-grid-fluid-width: 100%;

$spectrum-global-layout-spacing-small: 4px;
$spectrum-global-layout-spacing-medium: 8px;
$spectrum-global-layout-spacing-large: 12px;
$spectrum-global-layout-spacing-xlarge: 16px;
$spectrum-global-layout-spacing-xxlarge: 24px;
$spectrum-global-layout-spacing-xxxlarge: 32px;
$spectrum-global-layout-spacing-xivlarge: 40px;
$spectrum-global-layout-spacing-xvlarge: 48px;

$spectrum-alias-grid-gutter-xsmall: 16px;
$spectrum-alias-grid-gutter-small: 24px;
$spectrum-alias-grid-gutter-medium: 32px;
$spectrum-alias-grid-gutter-large: 40px;
$spectrum-alias-grid-gutter-xlarge: 48px;
