@import 'spectrum-origins/spectrum-global.scss';

// Breakpoints
$breakpoint-xsmall: $spectrum-global-dimension-static-breakpoint-xsmall;
$breakpoint-small: $spectrum-global-dimension-static-breakpoint-small;
$breakpoint-medium: $spectrum-global-dimension-static-breakpoint-medium;
$breakpoint-large: $spectrum-global-dimension-static-breakpoint-large;
$breakpoint-xlarge: $spectrum-global-dimension-static-breakpoint-xlarge;

// Gutters
$gutter-xxsmall: 16px;
$gutter-xsmall: 16px;
$gutter-small: 24px; 
$gutter-medium: 32px; 
$gutter-large: 40px; 
$gutter-xlarge: 48px; 

// Column Count
$column-count: $spectrum-global-dimension-static-grid-columns;

// Grid Width
$fluid-grid-width: $spectrum-global-dimension-static-grid-fluid-width;
$fixed-grid-width: $spectrum-global-dimension-static-grid-fixed-max-width;