@import '../node_modules/@adobe/spectrum-css/dist/vars/spectrum-global.css';

.spectrum-grid {
	padding: var(--spectrum-global-dimension-static-size-200);
	width: var(--spectrum-global-dimension-static-grid-fluid-width);
}

.spectrum-grid--fixed {
  	max-width: var(--spectrum-global-dimension-static-grid-fixed-max-width);
  	margin: 0 auto;
}

@supports (grid-template-areas: ".") and (--foo: "bar")  {

	:root {
		--spectrum-grid-baseline: var(--spectrum-global-dimension-static-size-100);
		--spectrum-grid-column-count: var(--spectrum-global-dimension-static-grid-columns);
		--spectrum-grid-gutter-width: var(--spectrum-global-dimension-static-size-200);
		--spectrum-grid-outer-padding: var(--spectrum-global-dimension-static-size-200);
	}

	.spectrum-grid {
		padding: var(--spectrum-grid-outer-padding);
	}

	.spectrum-grid--nested {
		--columns: 1;
		display: grid;
		grid-column-end: span var(--columns);
		grid-template-columns: repeat(var(--columns), minmax(0,1fr));
		grid-column-gap: inherit;
		grid-row-gap: inherit;
		grid-auto-rows: inherit;
	}

	@media screen and (min-width: var(--spectrum-global-dimension-static-breakpoint-xsmall)) {
		.spectrum-grid {
			display: grid;
			grid-row-gap: 0;
			grid-template-columns: repeat(var(--spectrum-grid-column-count), minmax(0,1fr));
			grid-auto-rows: minmax(var(--spectrum-grid-baseline), max-content);
			grid-column-gap: var(--spectrum-grid-gutter-width);
		}
	}

	@media screen and (min-width: var(--spectrum-global-dimension-static-breakpoint-small)) {
		:root {
			--spectrum-grid-gutter-width: var(--spectrum-global-dimension-static-size-300);
			--spectrum-grid-outer-padding: var(--spectrum-global-dimension-static-size-300);
		}
	}

	@media screen and (min-width: var(--spectrum-global-dimension-static-breakpoint-medium)) {
		.spectrum-grid--fluid {
			--spectrum-grid-gutter-width: var(--spectrum-global-dimension-static-size-400);
			--spectrum-grid-outer-padding: var(--spectrum-global-dimension-static-size-400);
		}
	}

	@media screen and (min-width: var(--spectrum-global-dimension-static-breakpoint-large)) {
		.spectrum-grid--fluid {
			--spectrum-grid-gutter-width: var(--spectrum-global-dimension-static-size-500);
			--spectrum-grid-outer-padding: var(--spectrum-global-dimension-static-size-500);
		}
	}

	@media screen and (min-width: var(--spectrum-global-dimension-static-breakpoint-xlarge)) {
		.spectrum-grid--fluid {
			--spectrum-grid-gutter-width: var(--spectrum-global-dimension-static-size-600);
			--spectrum-grid-outer-padding: var(--spectrum-global-dimension-static-size-600);
		}
	}
}
