@import 'spectrum-origins/spectrum-light.scss';

.spectrum-grid {
	display: grid;
	grid-row-gap: 0;
	grid-template-columns: repeat($spectrum-global-layout-grid-columns, 1fr);
	margin: 0 auto;
	grid-auto-rows: minmax($spectrum-global-layout-size-100, max-content);
	align-content: start;

	@media screen and (min-width: $spectrum-global-layout-breakpoint-xsmall) {
		grid-column-gap: $spectrum-alias-grid-gutter-xsmall;
		padding: 0 $spectrum-alias-grid-gutter-xsmall;
	}

	@media screen and (min-width: $spectrum-global-layout-breakpoint-small) {
		grid-column-gap: $spectrum-alias-grid-gutter-small;
		padding: 0 $spectrum-alias-grid-gutter-small;
	}

	@media screen and (min-width: $spectrum-global-layout-breakpoint-medium) {
		grid-column-gap: $spectrum-alias-grid-gutter-medium;
		padding: 0 $spectrum-alias-grid-gutter-medium;
	}

	@media screen and (min-width: $spectrum-global-layout-breakpoint-large) {
		grid-column-gap: $spectrum-alias-grid-gutter-large;
		padding: 0 $spectrum-alias-grid-gutter-large;
	}

	@media screen and (min-width: $spectrum-global-layout-breakpoint-xlarge) {
		grid-column-gap: $spectrum-alias-grid-gutter-xlarge;
		padding: 0 $spectrum-alias-grid-gutter-xlarge;
	}
}

.spectrum-grid--fixed {
  @extend .spectrum-grid;
  max-width: $spectrum-global-layout-grid-fixed-max-width;
}

.spectrum-grid--fluid {
  @extend .spectrum-grid;
  width: $spectrum-global-layout-grid-fluid-width;
}
