@import 'spectrum-css-grid-vars.scss';

.spectrum-grid--fixed {
  max-width: $fixed-grid-width;
  padding: $gutter-xsmall;
}

.spectrum-grid--fluid {
  width: $fluid-grid-width;
  padding: $gutter-xsmall;
}

@supports (grid-template-areas: ".") and (--foo: "bar")  {

	:root {
		--spectrum-baseline: #{$baseline};
		--spectrum-column-count: #{$column-count};
		--spectrum-gutter-width: #{$gutter-xsmall};
		--spectrum-margin-width: #{$gutter-xsmall};
	}

	@media screen and (min-width: $breakpoint-xsmall) {
		.spectrum-grid {
			display: grid;
			padding: 0 var(--spectrum-margin-width);
			margin: 0 auto;
			grid-row-gap: 0;
			grid-template-columns: repeat(var(--spectrum-column-count), 1fr);
			grid-auto-rows: minmax(var(--spectrum-baseline), max-content);
			grid-column-gap: var(--spectrum-gutter-width);
			align-content: start;
		}
	}

	@media screen and (min-width: $breakpoint-small) {
		:root {
			--spectrum-gutter-width: #{$gutter-small};
			--spectrum-margin-width: #{$gutter-small};
		}
		
	}

	@media screen and (min-width: $breakpoint-medium) {
		:root {
			--spectrum-gutter-width: #{$gutter-medium};
			--spectrum-margin-width: #{$gutter-medium};
		}
	}

	@media screen and (min-width: $breakpoint-large) {
		:root {
			--spectrum-gutter-width: #{$gutter-large};
			--spectrum-margin-width: #{$gutter-large};
		}
	}

	@media screen and (min-width: $breakpoint-xlarge) {
		:root {
			--spectrum-gutter-width: #{$gutter-xlarge};
			--spectrum-margin-width: #{$gutter-xlarge};
		}
	}

}