@import 'spectrum-origins/spectrum-global.scss';

@media screen and (min-width: $spectrum-global-dimension-static-breakpoint-xsmall) {
	:root {
		--spectrum-gutter-width: $spectrum-grid-gutter-xsmall;
		--spectrum-margin-width: $spectrum-grid-gutter-xsmall;
	}
}

@media screen and (min-width: $spectrum-global-dimension-static-breakpoint-small) {
	:root {
		--spectrum-gutter-width: $spectrum-grid-gutter-small;
		--spectrum-margin-width: $spectrum-grid-gutter-small;
	}
}

@media screen and (min-width: $spectrum-global-dimension-static-breakpoint-medium) {
	:root {
		--spectrum-gutter-width: $spectrum-grid-gutter-medium;
		--spectrum-margin-width: $spectrum-grid-gutter-medium;
	}
}

@media screen and (min-width: $spectrum-global-dimension-static-breakpoint-large) {
	:root {
		--spectrum-gutter-width: $spectrum-grid-gutter-large;
		--spectrum-margin-width: $spectrum-grid-gutter-large;
	}
}

@media screen and (min-width: $spectrum-global-dimension-static-breakpoint-xlarge) {
	:root {
		--spectrum-gutter-width: $spectrum-grid-gutter-xlarge;
		--spectrum-margin-width: $spectrum-grid-gutter-xlarge;
	}
}

/* Baseline Grid */
:root {
	--spectrum-baseline: $spectrum-global-dimension-static-size-100;
}

.spectrum-grid {
	display: grid;
	grid-column-gap: var(--spectrum-gutter-width);
	grid-row-gap: 0;
	grid-template-columns: repeat($spectrum-global-dimension-static-grid-columns, 1fr);
	margin: 0 auto;
	padding: 0 var(--spectrum-margin-width);
	grid-auto-rows: minmax(var(--spectrum-baseline), max-content);
	align-content: start;
}

.spectrum-grid--fixed {
  @extend .spectrum-grid;
  max-width: $spectrum-global-dimension-static-grid-fixed-max-width;
}

.spectrum-grid--fluid {
  @extend .spectrum-grid;
  width: $spectrum-global-dimension-static-grid-fluid-width;
}
