@import 'spectrum-origins/spectrum-global.scss';

$spectrum-grid-gutter-xxsmall: 16px;
$spectrum-grid-gutter-xsmall: 16px;
$spectrum-grid-gutter-small: 24px; 
$spectrum-grid-gutter-medium: 32px; 
$spectrum-grid-gutter-large: 40px; 
$spectrum-grid-gutter-xlarge: 48px; 

.spectrum-grid {
	display: grid;
	grid-row-gap: 0;
	grid-template-columns: repeat($spectrum-global-dimension-static-grid-columns, 1fr);
	margin: 0 auto;
	grid-auto-rows: minmax($spectrum-global-dimension-static-size-100, max-content);
	align-content: start;

	@media screen and (min-width: $spectrum-global-dimension-static-breakpoint-xsmall) {
		grid-column-gap: $spectrum-grid-gutter-xsmall;
		padding: 0 $spectrum-grid-gutter-xsmall;
	}

	@media screen and (min-width: $spectrum-global-dimension-static-breakpoint-small) {
		grid-column-gap: $spectrum-grid-gutter-small;
		padding: 0 $spectrum-grid-gutter-small;
	}

	@media screen and (min-width: $spectrum-global-dimension-static-breakpoint-medium) {
		grid-column-gap: $spectrum-grid-gutter-medium;
		padding: 0 $spectrum-grid-gutter-medium;
	}

	@media screen and (min-width: $spectrum-global-dimension-static-breakpoint-large) {
		grid-column-gap: $spectrum-grid-gutter-large;
		padding: 0 $spectrum-grid-gutter-large;
	}

	@media screen and (min-width: $spectrum-global-dimension-static-breakpoint-xlarge) {
		grid-column-gap: $spectrum-grid-gutter-xlarge;
		padding: 0 $spectrum-grid-gutter-xlarge;
	}
}

.spectrum-grid--fixed {
  @extend .spectrum-grid;
  max-width: $spectrum-global-dimension-static-grid-fixed-max-width;
}

.spectrum-grid--fluid {
  @extend .spectrum-grid;
  width: $spectrum-global-dimension-static-grid-fluid-width;
}
